c-primary()
  color #2d8cf0
// hover
c-hover()
  color #5cadff
// active
c-active()
  color #2b85e4

// 蓝
c-blue()  
  color #2d8cf0
// 绿
c-green()
  color #19be6b
// 黄
c-yellow()
  color #ff9900
// 红
c-red()
  color #ed3f14

// 高
c-title()
  color #1c2438
// 中
c-content()
  color #495060
// 低
c-sub()
  color #80848f
// 浅
c-disabled()
  color #bbbec4
c-a()
  color -webkit-link
c-border()
  color #F5F6F7
c-divider()
  color #e9eaec
c-background()
  color '#f8f8f9'